* {
	margin: 0;
	padding: 0;
}

#wrap {
	border: 1px solid gray;
	width: 600px;
	margin: 10px auto;
	padding: 10px;
}

	#wrap #content #title {
		font-size: 1.8em;
		text-align: center;
		line-height: 3em;
		text-decoration: underline;
	}

	#wrap #content #to {
		font-weight: bold;
		line-height: 4em;
	}

	#wrap #content #content {
		font-size: 0.8em;
		line-height: 4em;
		padding-left: 5px;
	}

	#wrap #content #from {
		text-align: right;
		padding-bottom: 20px;
	}

	#wrap #footer{
		text-align: center;
		line-height: 4em;
		font-size: 1.2em;
	}

		#wrap #footer a {
			text-decoration: none;
			color: blue;
		}

			#wrap #footer a:after {
				content: ' - 'attr(href);
			}
